<template>
	<div>
		{{ greeting }} Rami
	</div>
</template>

<script>

    export default {
        data() {
            return {
                greeting: 'hello there'
            }
        }
    }
</script>
